services:
  contenidos:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: contenidos
    restart: always
    environment:
      PORT: ${CONTENIDOS_SERVICE_PORT}

      SUPABASE_PROJECT_URL: ${SUPABASE_PROJECT_URL}
      SUPABASE_SERVICE_ROLE_KEY: ${SUPABASE_SERVICE_ROLE_KEY}
      SERVICE_AUTH_EMAIL: ${CONTENIDOS_SERVICE_AUTH_EMAIL}
      SERVICE_AUTH_PASSWORD: ${CONTENIDOS_SERVICE_AUTH_PASSWORD}

      MONGODB_HOST: mongodb://${CONTENIDOS_SERVICE_MONGODB_USERNAME}:${CONTENIDOS_SERVICE_MONGODB_PASSWORD}@contenidos-mongodb:27017/${CONTENIDOS_SERVICE_MONGODB_DATABASE}?authSource=admin

      BUCKET_ENDPOINT: http://contenidos-storage:9000
      BUCKET_REGION: eu-west-1
      BUCKET_ACCESS_KEY: ${CONTENIDOS_SERVICE_BUCKET_ACCESS_KEY}
      BUCKET_SECRET_KEY: ${CONTENIDOS_SERVICE_BUCKET_SECRET_KEY}
      BUCKET_SONG_COVERS_BASE_URL: ""

      USUARIOS_SERVICE_BASE_URL: http://usuarios:${USUARIOS_SERVICE_PORT}
      COMPRAS_SERVICE_BASE_URL: http://compras:${COMPRAS_SERVICE_PORT}
      ESTADISTICAS_SERVICE_BASE_URL: http://estadisticas:${ESTADISTICAS_SERVICE_PORT}

      ELASTICSEARCH_HOST: http://contenidos-elasticsearch:9200

    depends_on:
      - contenidos-mongodb
      - contenidos-storage
      - contenidos-elasticsearch
    ports:
      - "3000:${CONTENIDOS_SERVICE_PORT}"
    networks:
      contenidos:
      undersounds:

  contenidos-mongodb:
    image: bitnami/mongodb:latest
    container_name: contenidos-mongodb
    restart: always
    environment:
      MONGODB_ROOT_USER: ${CONTENIDOS_SERVICE_MONGODB_USERNAME}
      MONGODB_ROOT_PASSWORD: ${CONTENIDOS_SERVICE_MONGODB_PASSWORD}
      MONGODB_DATABASE: ${CONTENIDOS_SERVICE_MONGODB_DATABASE}
    ports:
      - "3001:27017"
    volumes:
      - contenidos-mongodb-data:/bitnami/mongodb
    networks:
      contenidos:

  contenidos-storage:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: contenidos-storage
    restart: always
    environment:
      MINIO_ROOT_USER: ${CONTENIDOS_SERVICE_BUCKET_ROOT_USERNAME}
      MINIO_ROOT_PASSWORD: ${CONTENIDOS_SERVICE_BUCKET_ROOT_PASSWORD}
    ports:
      - "3002:9000"
      - "3003:9001"
    volumes:
      - contenidos-storage-data:/data
    command: minio server /data --console-address ":9001"
    networks:
      contenidos:

  contenidos-elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.0
    container_name: contenidos-elasticsearch
    restart: always
    environment:
      discovery.type: single-node
      xpack.security.enabled: false
    ports:
      - "3004:9200"
      - "3005:9300"
    volumes:
      - contenidos-elasticsearch-data:/usr/share/elasticsearch/data
    networks:
      contenidos:

  contenidos-kibana:
    image: docker.elastic.co/kibana/kibana:9.2.0
    container_name: contenidos-kibana
    restart: always
    environment:
      ELASTICSEARCH_HOSTS: http://contenidos-elasticsearch:9200
    ports:
      - "3006:5601"
    depends_on:
      - contenidos-elasticsearch
    networks:
      contenidos:


volumes:
  contenidos-mongodb-data:
  contenidos-storage-data:
  contenidos-elasticsearch-data:

networks:
  contenidos:
  undersounds:
    external: true